
<body>

  <nav class="menu">
      <ul>
          <a href='/'>
              <li class="navItem">Home</li>
          </a>
          <a href='/create-poll'>
              <li class="navItem">Create A Poll</li>
          </a>
          <a href='/view-polls'>
              <li class="navItem">View Polls</li>
          </a>
          <a href='/logout'>
              <li class="navItem">Log Out</li>
          </a>
      </ul>
  </nav>

</body>
