<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting App</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>

        var authenticatedUser = <%= userAuth %>
        if (authenticatedUser) {
            $.get("./authNavigation.ejs", function(data) {
              console.log(data.menu);
                $("#menu-placeholder").replaceWith(data);
            });
        } else {
            $.get("./navigation.ejs", function(data) {
                $("#menu-placeholder").replaceWith(data);
            });
        }
        $.get("./footer.html", function(data) {
            $("#footer-placeholder").replaceWith(data);
        });

    </script>

</head>

<html>
<div id="menu-placeholder"></div>

<body>

  <div class = "container">
    <div class = "createTopContainer">
      <div class = "titleContainer">
    <h1>Hi <%= user.displayName %>!</h1>
    <h1>Make a new Poll</h1>
  </div>
  <div class = "buttonContainer">
    <input type="button" name="add" value="+ Add Answer">

  </div>
</div>

    <div class='pollContainer'>
        <form action='/create-poll/log' class="poll-form" method='post'>
            <ul class="questions">
                <li>
                    <label for="first-name">Poll Question</label>
                    <input type="text" name="question" required>
                </li>
            </ul>
            <ul class="answers">
                <li>
                    <label name="answer">Answer 1: </label>
                    <input id = "answerInput" type="text" name="answers[]" required>

                </li>
                <li>
                    <label name="answer">Answer 2: </label>
                    <input id = "answerInput" type="text" name="answers[]" required>
                </li>
            </ul>
            <ul>
            <input type="submit" name="submitPoll" value="Submit">
          </ul>

        </form>
    </div>
  </div>
  <div id="footer-placeholder"></div>
</body>

</html>
<!--load script for form handling -->
<script type="text/javascript" src="/pageJS/pollHelper.js"></script>
