/* CSS Normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
/*CSS Color Template
https://color.adobe.com/Manifolds-of-Grey-color-theme-9080065/?showPublished=true*/
/*---Navigation Bar ---*/

.menu ul {
    min-height: 50px;
    align-items: center;
    display: flex;
    background-color: #5a677a;
    justify-content: flex-end;
    list-style: none;
    flex-wrap: wrap;
}

.menu a {
    color: black;
    text-decoration: none;
}

.navItem {
    padding: 0px 3px 0px 3px;
    min-width: 75px;
    margin: 2px 10px 0px 0px;
    border-radius: 5px;
    text-align: center;
    background-color: #f6f1ee;
    border: 2px solid;
    font-size: 20px;
}

/*USER VIEW POLL PAGE */
.viewPollContainer{
  display:flex;
  flex-wrap: wrap;
}

.viewPollItem{
  border: 1px solid #5a677a;
  border-radius: 4px;
  margin:7px;
  padding: 3px;
  flex:1 1 auto;
  color: #29374B;
  min-width: 100px;
  max-width: 300px;

}
.viewPollItem h3{
  padding:0px;
  margin: 0px;

}

.viewPollItem:nth-child(even) {
    background-color: #F6F5F5;
}

.viewPollItem:nth-child(odd) {
    background-color: #e9e4e1;
}
/*Home Page Poll Display */

.bodyIndex {
    background-color: #e9e4e1;
}

body {
    background-color: #e9e4e1;
}

.container {
    color: #29374B;
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 2px;
    border: 3px solid #5a677a;
    border-radius: 8px;
}

.pollContainer {
    display: flex;
    list-style: none;
    margin: 5px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.pollItem {
    color: #29374B;
    flex: 0 1 210px;
    padding: 3px;
    margin: 7px;
    border: 1px solid #5a677a;
    border-radius: 4px;
}

.pollItem:nth-child(even) {
    background-color: #F6F5F5;
}

.pollItem:nth-child(odd) {
    background-color: #e9e4e1;
}

.pollItem h3 {
    padding: 0px;
    margin: 0px;
}

.pollItem h5 {
    padding: 0px;
    margin: 0px;
}

.pollItem h6 {
    padding: 0px;
    margin: 0px;
}


/*DISPLAY INDIVIDUAL POLL */

.displayPollContainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    color: #29374B;


}


.displayChart {
    align-items: center;
    flex: 3 1;
    border-left: 2px solid #5a677a;


}


.displayPollInfo {
    flex: 1 1;
    min-width: 200px;
    max-width: 300px;
  }

.displayPollAnswers {
    display: flex;
    flex-wrap: wrap;
}

.displayIndividualAnswer {
    border: 1px solid;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
}

.displayIndividualAnswer h2 {
  padding: 0px;
  margin: 0px;
}


/*CREATE POLL PAGE */

.createTopContainer{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.titleContainer{


}
.titleContainer h1{
  margin:5px;
  padding: 0px;
}

.buttonContainer {
  margin:15px;
}


.questions li {
    display: flex;
    list-style: none;
    margin: 3px 50px 3px 5px;
}

.questions li input {
    flex: 1 0 220px;
}

.questions>li>label {
    flex: 1 0 110px;
    max-width: 110px;
}

.answers {
    align-content: flex-start;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.answers li {
    white-space: nowrap;
    flex: 0 1 200px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    margin: 3px 5px 3px 5px;
}

.answers>li>label {
    width: 110px;
}

.answers>li>input {
    width: 250px;
}


/*FOOTER STYLING */

footer {
    color: #e9e4e1;
    padding: 20px;
    margin-top: 20px;
    background-color: #5a677a;
    align-items: center;  
}

footer p {
    padding: 0px;
    margin: 0px;
}

footer a {
    padding: 0px;
    text-decoration: none;
    color: #969491;
    margin: 0px;
}
